name: PR

on:
  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions: {}

jobs:
  test-true:
    name: Test for True
    outputs:
      triggered: ${{ steps.test.outputs.triggered }}
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - uses: ./
        id: test
        with:
          triggers: ('.github/' 'action.yml' '.md')

  test-false:
    name: Test for False
    outputs:
      triggered: ${{ steps.test.outputs.triggered }}
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - uses: ./
        id: test
        with:
          triggers: ('path/to/nowhere')

  test-omitted:
    name: Test for Omitted
    outputs:
      triggered: ${{ steps.test.outputs.triggered }}
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - uses: ./
        id: test

  results:
    name: Results
    needs: [test-true, test-false, test-omitted]
    runs-on: ubuntu-24.04
    steps:
      - if:
          needs.test-true.outputs.triggered != 'true' ||
          needs.test-false.outputs.triggered != 'false' ||
          needs.test-omitted.outputs.triggered != 'true'
        run: |
          # Explain any errors
          echo "needs.test-true.outputs.triggered: ${{ needs.test-true.outputs.triggered }} - expected: true"
          echo "needs.test-false.outputs.triggered: ${{ needs.test-false.outputs.triggered }} - expected: false"
          echo "needs.test-omitted.outputs.triggered: ${{ needs.test-false.outputs.triggered }} - expected: true"
          exit 1
